<div class="page room-new-page">
  <div class="page-title">
    <h1 class="title-text">ルーム新規作成</h1>
  </div>
  <div class="create-room">
    <span class="explanation">「何たベル？」を使用するには、ルームに所属する必要があります。<br>
    作成済みルームに参加する場合は<%= link_to 'こちら', search_rooms_path, class: "link" %>をクリックしてください。新しくルームを作成する場合は、下記を入力して作成ボタンをクリックします。招待用ルームコードは簡単に特定できない文字を使用しましょう。ルーム作成後は検索用ルームコードをルーム参加者にご連携ください。</span>
    <%= form_with model: @room, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
      <div class="create-room-form">
        <div class="create-room-form-left">
          <%= f.label :ルーム名, class: "create-room-form-label" %>
          <span class="indispensable">必須</span>
        </div>
        <div class="create-room-form-right">
          <%= f.text_field :room_name, class: "create-room-name", placeholder: "例）鈴木家" %>
        </div>
      </div>
      <div class="create-room-form">
        <div class="create-room-form-left">
          <%= f.label :検索用ルームコード, class: "create-room-form-label" %>
          <span class="indispensable">必須</span>
        </div>
        <div class="create-room-form-right">
          <%= f.text_field :key, class: "create-room-key", placeholder: "8文字以上の半角英数字" %>
        </div>
      </div>
      <div class="create-room-form">
        <div class="create-room-form-left">
          <%= f.label :ルール, class: "create-room-form-label" %>
        </div>
        <div class="create-room-form-right">
          <%= f.text_field :rule, class: "create-room-rule", placeholder: "ルーム内の約束ごとを入力してください" %>
        </div>
      </div>
      <div class='transition-btn'>
        <div class="btn-content">
          <%= f.submit "作成", class:"next-btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>